/*
    ++++++ GLOBAL STYLES ++++++

    These styles are used across the notebook.
*/

/* CSS Variables */
:root {
    --cursor: #000;
    --pencil: #000000;
    --bluetooth: #207fcd;
    --flowers: #FF0033;
    --sidewalk: #FFC3F0;
    --note: #FFFFFF;
}

/* Border box sizing fix */
*, *:before, *:after { box-sizing: border-box; }

/* Some global style resets */
body {
  padding: 15px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--);
  background-color: var(--sidewalk);
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  -webkit-text-size-adjust: none; 
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(../images/tri.gif) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, p, ol, ul, li {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 18px;
}
p {
    font-size: 20px;
    line-height: 24px;
}

p.banana {
    font-size: 20px;
    line-height: 36px;    
    text-transform: uppercase;
    font-family: "banana";
}

p.nudles-regular {
    font-size: 20px;
    line-height: 36px;    
    font-family: "nudles-regular";
}

h2.banana {
    font-size: 36px;
    margin: 0px 0;
    font-family: "banana";
    margin-bottom: 20px;
}

h2.gay {
    font-size: 42px;
    margin: 0px 0;
    font-family: "Gay";
    margin-bottom: 20px;
}

h2.GB {
    font-size: 42px;
    margin: 0px 0;
    font-family: "GB";
    margin-bottom: 20px;
}

h2.nudles-regular {
    font-size: 42px;
    margin: 0px 0;
    font-family: "Nudles-Regular";
    margin-bottom: 20px;
}

h2.women {
    font-size: 42px;
    margin: 0px 0;
    font-family: "women";
    margin-bottom: 20px;
}

h2.crozet {
    font-size: 128px;
    margin: 0px 0;
    font-family: "Crozet";
}

h2.compagnon {
    font-size: 36px;
    margin: 0px 0;
    font-family: "Compagnon";
    margin-bottom: 20px;
}

img {
    max-width: 100%;
}
a {
    color: var(--pencil);
}

@font-face {
      font-family: 'banana';
      src: url('../fonts/Banana-Outline-Regular.woff2') format('woff');
}

@font-face {
      font-family: 'Nudles-Regular';
      src: url('../fonts/Nudles-Regular.woff2') format('woff');
}

@font-face {
      font-family: 'Nudles-Bold';
      src: url('../fonts/Nudles-Bold.woff2') format('woff');
}

@font-face {
      font-family: 'Crozet';
      src: url('../fonts/Crozet·te-Regular.woff2') format('woff2');
}

@font-face {
      font-family: 'Compagnon';
      src: url('../fonts/Compagnon-bold.woff2') format('woff2');
}

@font-face {
      font-family: 'Gay';
      src: url('../fonts/ThirdWorldGayRevolution.woff2') format('woff2');
}

@font-face {
      font-family: 'GB';
      src: url('../fonts/GBJones-Lite.otf') format('opentype');
}

@font-face {
      font-family: 'women';
      src: url('../fonts/WomensCarRepairCollective.otf') format('opentype');
}

/* Mobile */
@media(max-width: 600px) {
    body {
        padding: 15px;
    }
}

.footer {
    font-family: 'nudles-bold';
    font-size: 16px;
    line-height: 20px;
}

.header {
    font-family: 'nudles-bold';
    font-size: 16px;
    line-height: 20px;
}




