@font-face {
  font-family: "arial";
}

body {
  /*  background-image: url('assets/test-image1.jpg');*/
    background-position: top;
    background-position-y: -200px;
    background-color: #FFA3F0;
    color: #000000;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "arial";
    margin: 0;
}

p {
margin:0px;
padding-top:5px;
padding-bottom:5px;
padding-left:5px;
padding-right:10px;
width: auto;
color: #000000;
background-color: #FFA3F0;
font-size: 20px;
text-align: left;
}

a:visited {
  color: #000000;
}

a:link {
  color: #000000;
    border: solid 1px #000000;
    text-decoration: none;
}

a:hover {
  color: #FF00FF;
    border: solid 1px #000000;
    border: solid 1px #FF00FF;
    text-decoration: none;
}


.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Style the tab content */
.tabcontent {
  display: none;
  /* padding: 6px 12px; */
  border-top: none;
}

#block {
  display: none;
  width: 50vw;
  background: #FFFFFF;
  height:100dvh; 
  /* dvh accounts for the bar on bottom. */
  right:0%;
  top:0px;
  position: absolute;
  overflow-y: scroll;
  overflow-wrap:break-word ;
}

/* Style the button that is used to open and close the collapsible content */
.title {
  background-color: #000000;
  color: #FFA3F0;
  width: auto;
  border:none;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:5px;
  padding-right:5px;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.tablinks {
  background-color: #FFA3F0;
  color: #000000;
  width: auto;
  border: solid 1px #000000;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:5px;
  padding-right:5px;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.tablinks:hover {
  background-color: #FFA3F0;
  color: #FF00FF;
  width: auto;
  border: solid 1px #FF00FF;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:5px;
  padding-right:5px;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.tablinks.active {
  background-color: #FF00FF;
  color: #FFA3F0;
  width: auto;
  border: solid 1px #FF00FF;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.footer {
  position: fixed;
  left: 5px;
  bottom: 0;
  width: 100%;
  z-index: 10;
  font-size: 14px;
}

@media only screen and (max-width:801px) {
p {
  font-size: 16px;
}
.title {
  font-size: 16px;
}
.tablinks {
  font-size: 16px;
}
.tablinks:hover {
  font-size: 16px;
}
.tablinks.active {
  font-size: 16px;
}

.footer p {
  font-size: 12px;
}

.footer a:visited {
  font-size: 12px;
}

.footer a:link {
  font-size: 12px;
}

}  

@media only screen and (max-width:600px) {
p {
  font-size: 14px;
}
.title {
  font-size: 14px;
}
.tablinks {
  font-size: 14px;
}
.tablinks:hover {
  font-size: 14px;
}
.tablinks.active {
  font-size: 14px;
}
.footer p {
  font-size: 10px;
}

.footer a:visited {
  font-size: 10px;
}

.footer a:link {
  font-size: 10px;
}


.column {
  float: left;
  width: 100%;
}  

}






