@font-face {
  font-family: "arial";
}

body {
    background-image: url('assets/test-image1.jpg');
    background-position: top;
    background-position-y: -200px;
    background-color: #FFA3F0;
    color: #000000;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    font-family: "arial";
    margin: 0;
}

p {
margin:0px;
padding-top:5px;
padding-bottom:5px;
padding-left:5px;
padding-right:10px;
width: auto;
color: #000000;
background-color: #FFA3F0;
font-size: 20px;
text-align: left;
}

.container {
  margin: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* flex-direction: row;
  -webkit-flex-direction: row; */
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  width: 100vw;
  height: 100vh;
  /* avoid browser level touch actions */
  xtouch-action: none; 
}

/* Style the tab content */
.tabcontent {
  display: none;
  /* padding: 6px 12px; */
  border-top: none;
}

#block {
  display: none;
  width: 50vw;
  background: #FFFFFF;
  height:100dvh; 
  /* dvh accounts for the bar on bottom. */
  right:0%;
  top:0px;
  position: absolute;
  overflow-y: scroll;
  overflow-wrap:break-word ;
}

/* Style the button that is used to open and close the collapsible content */
.title {
  background-color: #000000;
  color: #ffffff;
  width: auto;
  border:none;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:5px;
  padding-right:5px;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.tablinks {
  background-color: #ffffff;
  color: #000000;
  width: auto;
  border:none;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:5px;
  padding-right:5px;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.tablinks.active {
  background-color: #000000;
  color: #ffffff;
  width: auto;
  border:none;
  text-align: left;
  outline: none;
  font-size: 20px;
}






